body {
    text-align: center;
    margin: 0;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-auto-columns: max-content;
    grid-template-rows: repeat(3, minmax(100px, auto));
}

/* Header */

.header {
    grid-column: 1 / -1;
    padding: 3px;
    background-color: #F96167;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.header img {
    width: 40px;
    height: 40px;
    margin: 4px 0 0 0;
}

.header h1 {
    font-size: 2.5rem;
}

/* Navigation */

.navigation {
    grid-row: 2 / -1;
    grid-column: 1 / 2;
    min-height: 90vh;
    background-color: #FCEDDA;
    box-shadow: 5px 2px rgba(236, 129, 129, 0.1);
}

.nav,
.project-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#all.activeBtn {
    background-color: #F96167;
}

.project-list .added-project {
    background-color: #F96167;
    list-style: none;
    margin: 10px 0 10px -50px;
    border: 1px solid #000;;
    cursor: pointer;
    padding: 6px;
    width: 120px;
    box-shadow: 6px 3px rgba(150, 0, 0, 0.1);
}

.project-list .added-project button {
    background-color: #F96167;
    border: none;
    font-weight: 400;
    font-size: 1rem;
}

.added-project button:hover {
    font-size: 20px;
}

button:hover {
    cursor: pointer;
}

.project-list i {
    padding: 0 0 0 20px;
}

.nav li {
    list-style: none;
    margin: 0 0 15px -50px;
    border: 1px solid;
    box-shadow: 6px 3px rgba(50, 0, 0, 0.2);
}

.nav li button {
    cursor: pointer;
    background-color:#FCEDDA;
    border: none;
    font-size: 1.5rem;
    width: 110px;
    padding: 10px;
}

li button:hover {
    color: #494949 !important;
    border-color: #494949 !important;
    transition: all 0.3s ease 0s;
    background-color: #F96167;
}

.focus {
    background-color: #F96167;
}

ul {
    list-style-type: none;
}

/* Pop-up */

.form-modal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 60px);
    padding: 0 14px 14px 14px;
}

.form-modal2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 60px);
    padding: 0 14px 14px 14px;
}

.form-modal h1,
.form-modal2 h1 {
    margin: 5px 0 0 0;
    font-size: 2rem;
}

.form-modal input,
textarea,
.form-modal2 input {
    text-align: center;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    height: 40px;
    margin: -10px 0 0 0;
}

textarea {
    text-align: left;
    padding: 15px;
}

.form-modal .add,
.cancel,
.form-modal2 .addTodo,
.cancel,
.edit {
    cursor: pointer;
    font-size: 1.2rem;
}

.form-modal .add,
.form-modal2 .addTodo {
    margin-top: 15px;
}

#priority {
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    border: none;
}

#priority option {
    font-size: 15px;
}

label {
    padding: 15px 0 0 0;
    font-size: 1.4rem;
    letter-spacing: 1.2px;
}

.modal,
.modal2,
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    border: 1px solid #EED971;
    border-radius: 10px;
    background-color: #EED971;
    width: 400px;
    max-width: 70%;
}

.modal.active,
.modal2.active,
.popup.active {
    transform: translate(-50%, -50%) scale(1);
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: 200ms ease-in-out;
    pointer-events: none;
}

#overlay.active {
    opacity: 0.7;
    pointer-events: all;
}

fieldset {
    border: none;
}
  
.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.close {
    float: right;
    cursor: pointer;
    font-size: 24px;
}

.close:hover {
    color: #ff0000;
}

#confirmDelete,
#cancelDelete {
    margin-top: 10px;
    padding: 8px 20px;
    cursor: pointer;
}

#confirmDelete {
    background-color: #ff4d4d;
    color: white;
    border: none;
}

#confirmDelete:hover {
    background-color: #ff3333;
}

#cancelDelete {
    background-color: #ccc;
    color: #333;
    border: none;
}

#cancelDelete:hover {
background-color: #bbb;
}

/* Added project Navigation */

.added-project {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* button */

.project,
.todo {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #F96167;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    margin: 17px 0 10px 0;
  }

.project {
    margin: -8px;
}

#addTodoList {
    display: contents;
}

.addTodoList {
    display: none;
}

.add,
.addTodo, 
.cancel,
.edit {
    margin: 20px 0 20px 0;
    width: 30%;
    height: 50px;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    display: inline-flex;
    flex: 1 1 auto;
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    margin: 0 35% 10px 35%;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    border: 0;
    touch-action: manipulation;
}

.hide {
    display: none;
}

.project:focus {
    background-color:#F96167;
    color: #bbb;
}

.add:hover, 
.addTodo:hover, 
.cancel:hover, 
input:hover, 
textarea:hover, 
#priority:hover, 
.todo:hover, 
.project:hover,
.edit:hover {
    border: 1px solid;
}

/* main */

.main-header {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    border: 1px solid;
    height: 100px;
}

.content {
    grid-column: 2 / -1;
    grid-row: 3 / -1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: 1px solid;
    height: 90vh;
}

.task-num {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.fa-plus {
    background-color: #fff;
    border: none;
}

.fa-plus:hover {
    cursor: pointer;
    color: grey;
}

.fa-trash:hover, .fa-edit:hover {
    cursor: pointer;
    color: grey;
}

.display-tasks {
    border: 1px solid;
    list-style: none;
}

.display-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#addBtn {
    font-size: 30px;
    border: none;
}

.add-task {
    display: none;
}

.active1 {
    display: contents;
}

.list {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.icons {
    padding-right: 15px;
    display: flex;
    gap: 15px;
}